#area-chart-2-1.area,
#area-chart-2-2.area,
#area-chart-2-3.area,
#area-chart-2-4.area,
{
  height: 550px;
  max-height: 550px;
  max-width: 100%;
  margin: 20px auto;
  --labels-size: 2em;
}


#area-chart-2-1.area th,
#area-chart-2-2.area th,
#area-chart-2-3.area th,
#area-chart-2-4.area th,
{
  font-size: 0.6rem;
  font-weight: bold;
  color: purple;
  // width:50px;
  padding-top: 50px;
  height: 25px;
//  overflow: hidden;

  // background-color: silver;
}

.labels-cell {
  background-color: #1976d2;

}
