<chart-css [chartId]="'line-chart-1'"
           [type]="'mixed'"
           [caption]="'mixed'"
           [showData]="false"
           [showDataOnHover]="false"
           [legendShape]="'legend-line'"
           [chartData]="chartDataSet">
</chart-css>

<!--
<div id="stock-chart-example-2">
  <table class="charts-css area">
    <caption> Stock Price</caption>
    <tbody>
    <tr>
      <td style="--start:0.3; --size:0.4;"></td>
    </tr>
    <tr>
      <td style="--start:0.4; --size:0.8;"></td>
    </tr>
    <tr>
      <td style="--start:0.8; --size:0.6;"></td>
    </tr>
    <tr>
      <td style="--start:0.6; --size:1;"></td>
    </tr>
    <tr>
      <td style="--start:1; --size:0.3;"></td>
    </tr>
    <tr>
      <td style="--start:0.3; --size:0.8;"></td>
    </tr>
    <tr>
      <td style="--start:0.8; --size:0.6;"></td>
    </tr>
    <tr>
      <td style="--start:0.6; --size:1;"></td>
    </tr>
    <tr>
      <td style="--start:1; --size:0.3;"></td>
    </tr>
    <tr>
      <td style="--start:0.3; --size:0.8;"></td>
    </tr>
    <tr>
      <td style="--start:0.8; --size:0.6;"></td>
    </tr>
    <tr>
      <td style="--start:0.6; --size:1;"></td>
    </tr>
    <tr>
      <td style="--start:1; --size:0.3;"></td>
    </tr>
    </tbody>
  </table>
  <table class="charts-css line">
    <caption> Trend Line</caption>
    <tbody>
    <tr>
      <td style="--start:0.4; --size:0.5;"></td>
    </tr>
    <tr>
      <td style="--start:0.5; --size:0.3;"></td>
    </tr>
    <tr>
      <td style="--start:0.3; --size:0.4;"></td>
    </tr>
    <tr>
      <td style="--start:0.4; --size:0.7;"></td>
    </tr>
    </tbody>
  </table>
  <table class="charts-css column data-spacing-2">
    <caption> Stock trade volume</caption>
    <tbody>
    <tr>
      <td style="--size:0.6;"></td>
    </tr>
    <tr>
      <td style="--size:0.9;"></td>
    </tr>
    <tr>
      <td style="--size:1;"></td>
    </tr>
    <tr>
      <td style="--size:0.4;"></td>
    </tr>
    <tr>
      <td style="--size:0.3;"></td>
    </tr>
    <tr>
      <td style="--size:0.6;"></td>
    </tr>
    <tr>
      <td style="--size:0.9;"></td>
    </tr>
    <tr>
      <td style="--size:1;"></td>
    </tr>
    <tr>
      <td style="--size:0.4;"></td>
    </tr>
    <tr>
      <td style="--size:0.3;"></td>
    </tr>
    <tr>
      <td style="--size:0.6;"></td>
    </tr>
    <tr>
      <td style="--size:0.9;"></td>
    </tr>
    <tr>
      <td style="--size:1;"></td>
    </tr>
    <tr>
      <td style="--size:0.4;"></td>
    </tr>
    <tr>
      <td style="--size:0.3;"></td>
    </tr>
    <tr>
      <td style="--size:0.6;"></td>
    </tr>
    <tr>
      <td style="--size:0.9;"></td>
    </tr>
    <tr>
      <td style="--size:1;"></td>
    </tr>
    <tr>
      <td style="--size:0.4;"></td>
    </tr>
    <tr>
      <td style="--size:0.3;"></td>
    </tr>
    <tr>
      <td style="--size:0.6;"></td>
    </tr>
    <tr>
      <td style="--size:0.9;"></td>
    </tr>
    <tr>
      <td style="--size:1;"></td>
    </tr>
    <tr>
      <td style="--size:0.4;"></td>
    </tr>
    <tr>
      <td style="--size:0.3;"></td>
    </tr>
    </tbody>
  </table>
  <div class="primary-axis"> Primary Axis Title</div>
  <div class="data-1-axis"> Stock Price</div>
  <div class="data-2-axis"> Moving Average</div>
</div>
-->
