<div id="{{chartId}}-container" class="chart-wrapper" *ngIf="chartData.datasets">
  <ul  *ngIf="chartData.legends" class="charts-css legend" [ngClass]="legendClasses" [class.legend-inline]="legendInline">
    <li *ngFor="let legend of chartData.legends" [style.color]="legend.color">{{legend.text}}</li>
  </ul>

  <table  id="{{chartId}}" class="charts-css chart " [ngClass]="tableClasses"
         [class.show-heading]="caption"
         [class.show-data]="showData"
         [class.show-data-on-hover]="showDataOnHover"
         [class.show-data-axes]="showDataAxis"
         [class.show-primary-axis]="showPrimaryAxis"
         [class.show-labels]="showLabels"
         [class.show-stacked]="stacked"
  >
    <caption [ngClass]="captionStyle"> {{caption}} </caption>
    <thead>
        <tr>
          <th *ngFor="let header of chartData.headers" scope="col"> {{header}} </th>
        </tr>
    </thead>

    <tbody *ngIf="multiple">
    <tr *ngFor="let dataset of chartData.datasets; let dataSetIndex = index">

      <th *ngIf="chartData.labels && chartData.labels.length > dataSetIndex"
          scope="row" [class.hide-label]="chartData.labels[dataSetIndex].hide" [ngClass]="chartData.labels[dataSetIndex].class">
        {{chartData.labels[dataSetIndex].text}}
        <div *ngIf="chartData.labels[dataSetIndex].subClass" [class]="chartData.labels[dataSetIndex].subClass"></div>
      </th>

      <th *ngIf="dataset.label"
          scope="row" [ngClass]="dataset.label.class"> {{dataset.label.text}}
      </th>

      <td *ngFor="let row of dataset.rows; let r = index"
          [style.color]="row.datacolor"
          [style.--size]="getSize( row )"
          [style.--color]="getColor(row, dataSetIndex)"
          [style.--start]="getStart( row )">
        <span *ngIf="row.data" class="data">{{row.data}} </span>
        <span *ngIf="row.tooltip" class="tooltip"> {{row.tooltip}} </span>
      </td>
    </tr>
    </tbody>

    <tbody *ngIf="!multiple">
    <ng-container *ngFor="let dataset of chartData.datasets; let dataSetIndex = index">
      <tr *ngFor="let row of dataset.rows; let r = index">
      <th *ngIf="chartData.labels && chartData.labels.length > dataSetIndex"
          scope="row" [class.hide-label]="chartData.labels[r].hide" [ngClass]="chartData.labels[r].class">
        {{chartData.labels[r].text}}
        <div *ngIf="chartData.labels[r].subClass" [ngClass]="chartData.labels[r].subClass"></div>
       </th>
        <th *ngIf="dataset.label"
            scope="row" [ngClass]="dataset.label.class"> {{dataset.label.text}}
        </th>
        <td
          [style.color]="row.datacolor"
          [style.--size]="getSize( row )"
          [style.--color]="getColor(row, dataSetIndex)"
          [style.--start]="getStart( row )">
          <span *ngIf="row.data" class="data">{{row.data}} </span>
          <span *ngIf="row.tooltip" class="tooltip"> {{row.tooltip}} </span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
