<chart-css [chartId]="'horizontal-bar-1'"
           [type]="'bar'"
           [caption]="'Horizontal Bar 1'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-circle'"
           [chartData]="chartData">
</chart-css>

<chart-css [chartId]="'horizontal-bar-2'"
           [type]="'bar'"
           [caption]="'Horizontal Bar 2'"
           [showData]="false"
           [showDataOnHover]="true"
           [reverse]="true"
           [legendShape]="'legend-square'"
           [chartData]="chartData">
</chart-css>
<br><p></p>
<chart-css [chartId]="'horizontal-bar-3'"
           [type]="'bar'"
           [caption]="'Horizontal Bar 3'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-square'"
           [chartData]="chartDataMultiple">
</chart-css>
<br><p></p>
<chart-css [chartId]="'horizontal-bar-4'"
           [type]="'bar'"
           [caption]="'Horizontal Bar 4'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-line'"
           [chartData]="chartDataLabels">
</chart-css>
<br><p></p>


