<app-bar1></app-bar1>
<br><p></p>
<app-bar2></app-bar2>
<br><p></p>
<app-line1></app-line1>


<!--
<br><p></p>
<div id="chartId-1" class="chart-wrapper">
  <ul class="charts-css legend legend-circle">
    <li>label 1</li>
  </ul>
  <table class="charts-css chart column show-heading">
    <caption> the caption</caption>
    <thead>
    <tr>
      <th scope="col"> Country</th>
      <th scope="col"> Gold</th>
      <th scope="col"> Silver</th>
      <th scope="col"> Bronze</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td style="--size: calc( 40 / 100 )">
        <span class="data"> $40K </span>
        <span class="tooltip"> Data: $40K <br> More info... </span>
      </td>
    </tr>
    <tr>
      <td style="--size: calc( 60 / 100 )">
        <span class="data"> $60K </span>
        <span class="tooltip"> Data: $60K <br> More info... </span>
      </td>
    </tr>
    <tr>
      <td style="--size: calc( 75 / 100 )">
        <span class="data"> $75K </span>
      </td>
    </tr>
    <tr>
      <td style="--size: calc( 90 / 100 )">
        <span class="data"> $90K </span>
      </td>
    </tr>
    <tr>
      <td style="--size: calc( 100 / 100 )">
        <span class="data"> $100K </span>
        <span class="tooltip"> Data: $100K <br> More info... </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<br><p></p>

<div id="chartId-2" class="chart-wrapper">
  <table class="charts-css column">

    <caption> Front End Developer Salary</caption>

    <tbody>
    <tr>
      <th scope="row"> Asia</th>
      <td style="--size: calc( 20 / 100 );"><span class="data"> $20K </span></td>
      <td style="--size: calc( 30 / 100 );"><span class="data"> $30K </span></td>
      <td style="--size: calc( 40 / 100 );"><span class="data"> $40K </span></td>
      <td style="--size: calc( 50 / 100 );"><span class="data"> $50K </span></td>
      <td style="--size: calc( 75 / 100 );"><span class="data"> $75K </span></td>
    </tr>
    <tr>
      <th scope="row"> Europe</th>
      <td style="--size: calc( 40 / 100 );"><span class="data"> $40K </span></td>
      <td style="--size: calc( 60 / 100 );"><span class="data"> $60K </span></td>
      <td style="--size: calc( 75 / 100 );"><span class="data"> $75K </span></td>
      <td style="--size: calc( 90 / 100 );"><span class="data"> $90K </span></td>
      <td style="--size: calc( 100 / 100 );"><span class="data"> $100K </span></td>
    </tr>
    </tbody>

  </table>
</div>

<br><p></p>
<div id="chartId-3" class="chart-wrapper">
  <table id="spacing-example-2"
         class="charts-css column multiple show-labels hide-data show-data-axes data-spacing-20 datasets-spacing-4">
    <caption> Spacing Example #2</caption>
    <thead>
    <tr>
      <th scope="col"> Year</th>
      <th scope="col"> Progress 1</th>
      <th scope="col"> Progress 2</th>
      <th scope="col"> Progress 3</th>
      <th scope="col"> Progress 4</th>
      <th scope="col"> Progress 5</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"> 2000</th>
      <td style="--size:0.2;"><span class="data"> 20 </span></td>
      <td style="--size:0.5;"><span class="data"> 50 </span></td>
      <td style="--size:1;"><span class="data"> 100 </span></td>
      <td style="--size:0.7;"><span class="data"> 70 </span></td>
      <td style="--size:0.4;"><span class="data"> 40 </span></td>
    </tr>
    <tr>
      <th scope="row"> 2010</th>
      <td style="--size:0.9;"><span class="data"> 90 </span></td>
      <td style="--size:0.6;"><span class="data"> 60 </span></td>
      <td style="--size:0.4;"><span class="data"> 40 </span></td>
      <td style="--size:0.7;"><span class="data"> 70 </span></td>
      <td style="--size:1;"><span class="data"> 100 </span></td>
    </tr>
    <tr>
      <th scope="row"> 2020</th>
      <td style="--size:0.2;"><span class="data"> 20 </span></td>
      <td style="--size:0.4;"><span class="data"> 40 </span></td>
      <td style="--size:0.6;"><span class="data"> 60 </span></td>
      <td style="--size:0.8;"><span class="data"> 80 </span></td>
      <td style="--size:1;"><span class="data"> 100 </span></td>
    </tr>
    </tbody>
  </table>
</div>
<br><p></p>
<div id="chartId-4" class="chart-wrapper">
  <table id="area-example-2" class="charts-css area">
    <caption> Area Example #2</caption>
    <tbody>
    <tr>
      <td style="--start:0.2; --size:0.4;"></td>
    </tr>
    <tr>
      <td style="--start:0.4; --size:0.8;"></td>
    </tr>
    <tr>
      <td style="--start:0.8; --size:0.6;"></td>
    </tr>
    <tr>
      <td style="--start:0.6; --size:1;"></td>
    </tr>
    <tr>
      <td style="--start:1; --size:0.3;"></td>
    </tr>
    </tbody>
  </table>
</div>

<br><p></p>
<div id="chartId-5" class="chart-wrapper">
  <table id="line-example-1" class="charts-css line hide-data">
    <caption> Line Example #1</caption>
    <tbody>
    <tr>
      <td style="--start:0.2; --size:0.4;"><span class="data"> $ 40K </span></td>
    </tr>
    <tr>
      <td style="--start:0.4; --size:0.8;"><span class="data"> $ 80K </span></td>
    </tr>
    <tr>
      <td style="--start:0.8; --size:0.6;"><span class="data"> $ 60K </span></td>
    </tr>
    <tr>
      <td style="--start:0.6; --size:1;"><span class="data"> $ 100K </span></td>
    </tr>
    <tr>
      <td style="--start:1; --size:0.3;"><span class="data"> $ 30K </span></td>
    </tr>
    </tbody>
  </table>
</div>
-->
