<chart-css [chartId]="'bar-chart-3d'"
           [type]="'column'"
           [caption]="'3D Bar 1'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-circle'"
           [chartData]="chartData">
</chart-css>
<br><p></p>

<chart-css [chartId]="'bar-chart-3d-2'"
           [type]="'column'"
           [caption]="'3D Bar 2'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-circle'"
           [chartData]="chartData">
</chart-css>
<br><p></p>

<chart-css [chartId]="'bar-chart-3d-3'"
           [type]="'column'"
           [caption]="'Skewed 3D Bar 3'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-circle'"
           [chartData]="chartData">
</chart-css>


