<thead>

<tr>

  <th scope="col"> Country </th>
  <th scope="col"> Gold </th>
  <th scope="col"> Silver </th>
  <th scope="col"> Bronze </th>

</tr>

</thead>

<tbody>
<tr>
  <td style="--size: calc( 40 / 100 )">
    <span class="data"> $40K </span>
    <span class="tooltip"> Data: $40K <br> More info... </span>
  </td>
</tr>
<tr>
  <td style="--size: calc( 60 / 100 )">
    <span class="data"> $60K </span>
    <span class="tooltip"> Data: $60K <br> More info... </span>
  </td>
</tr>
<tr>
  <td style="--size: calc( 75 / 100 )">
    <span class="data"> $75K </span>
  </td>
</tr>
<tr>
  <td style="--size: calc( 90 / 100 )">
    <span class="data"> $90K </span>
  </td>
</tr>
<tr>
  <td style="--size: calc( 100 / 100 )">
    <span class="data"> $100K </span>
    <span class="tooltip"> Data: $100K <br> More info... </span>
  </td>
</tr>
</tbody>
