<chart-css [chartId]="'stacked-bar-1'"
           [type]="'column'"
           [caption]="'Simple Stacked Bars 1'"
           [max]="150"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-ellipse'"
           [chartData]="chartData"
           [stacked]="true"
           [showPrimaryAxis]="true"
           [nbSecondaryAxis]="5"
           [dataSpacing]="5"
>
</chart-css>
<br><p></p>
<chart-css [chartId]="'percentage-stacked-bar-1'"
           [type]="'column'"
           [caption]="'Percentage Stacked Bars'"
           [showData]="false"
           [showDataOnHover]="true"
           [legendShape]="'legend-square'"
           [chartData]="chartData"
           [stacked]="true"
           [showPrimaryAxis]="true"
           [nbSecondaryAxis]="5"
           [dataSpacing]="5"
           [showPercentage]="true"
>
</chart-css>
<br><p></p>
