
#area-chart-1.area {
  height: 450px;
  max-height: 500px;
  max-width: 800px;
  margin: 0 auto;
  --labels-size: 2em;
}

#area-chart-1.area th {
  font-size: 0.6rem;
  font-weight: bold;
  color: purple;
  width:50px;
  background-color: #f6f6f6;
}
