<chart-css [chartId]="'pie-chart-1'"
           [type]="'pie'"
           [caption]="'pie'"
           [showData]="false"
           [showPercentage]="true"
           [showDataOnHover]="true"
           [legendShape]="'legend-line'"
           [chartData]="chartDataSet">
</chart-css>


<!--
<table class="pie" style="width:500px;flex: auto; margin: auto">

  <caption> CSS Pie Chart from HTML Table </caption>

  <thead>
  <tr>
    <th scope="col"> Month </th>
    <th scope="col"> Stats </th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th scope="row"> 2005 </th>
    <td style="--start: 0; --size: 0.10; --color: rgb(240, 100, 100);"> <span class="data"> 100 </span> </td>
  </tr>
  <tr>
    <th scope="row"> 2010 </th>
    <td style="--start: 0.10; --size: 0.18; --color: rgb(130, 190, 255);"> <span class="data"> 180 </span> </td>
  </tr>
  <tr>
    <th scope="row"> 2015 </th>
    <td style="--start: 0.28; --size: 0.56; --color: rgb(140, 220, 120);"> <span class="data"> 560 </span> </td>
  </tr>
  <tr>
    <th scope="row"> 2020 </th>
    <td style="--start: 0.84; --size: 0.16; --color: rgb(190, 130, 255);"> <span class="data"> 160 </span> </td>
  </tr>
  </tbody>

</table>
-->
